<app-nav>
    <div class="text">
      <h2>Informacion del Paciente</h2>
      <h3> Numero de Historial Clinico: {{ingresoData.numeroHistorialClinicoPacientes}}</h3>
      <h4> Nombre y Apellidos: {{ingresoData.nombrePacientes}} {{ingresoData.apellidoPacientes}}</h4>
      <h4> DNI Paciente: {{ingresoData.dnipacientes}}</h4>
      <h4> Dominicilio:{{ingresoData.domicilioPacientes}}   {{ingresoData.provinciaPacientes}}</h4>
      <h4> Numero Telefonico: {{ingresoData.numeroTelefonoPacientes}}</h4>
      <h4> Fecha de Nacimiento: {{ingresoData.fechaNacimientoPacientes}}</h4>
    </div>

  <div class="text-data">
    <h2> Estado del paciente</h2>
    <h3> Numero de ingreso {{ingresoData.ingresosId}}</h3>
    <h4> Fecha de ingreso: {{ingresoData.fechaIngreso}}</h4>
    <h4> Condicion del Paciente: {{ingresoData.condicion}}</h4>
    <h4> Observaciones:{{ingresoData.observaciones}}</h4>

    <div class="account-container-content">
      <div>
        <button mat-raised-button [routerLink]="['/usuario', usuarioId, 'ingreso', ingresoId, 'pacientes', ingresoData.numeroHistorialClinicoPacientes, 'addPatologia']" class="mat-focus-indicator mat-button-approved mat-button-base"><a style="text-decoration: white">AGREGAR EXAMEN PATOLOGICO</a></button>
      </div>
      <div>
        <button mat-button [routerLink]="['/usuario', usuarioId, 'ingreso', ingresoId, 'pacientes', ingresoData.numeroHistorialClinicoPacientes, 'allPatologia']">VER LOS EXAMENES PATOLOGICOS</button>
      </div>
    </div>
  </div>


</app-nav>

