.text{
  text-align: center;
  color: deepskyblue;
  margin-top: 100px;
  font-family: Verdana;
}

.circular--portrait {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
}

.circular--portrait img {
  width: 100%;
  height: auto;
}
