.profile-container-header{
  text-align: center;
  margin: 50px auto;
}

.profile-container-header h1{
  font-weight: 700;
  font-size: 5em;
  color: #1955AE;
}

.profile-container-content{
  margin-top: 56px;
  margin-bottom: 56px;
}

.form-group{
  text-align: center;
}

.profile-form-input{
  width: 35%;
  margin: 15px auto;
}

