<app-nav>
  <div class="profile-container-header">
    <h1> INGRESAR PACIENTE </h1>
  </div>

  <div class="profile-container-content">

    <div class="form-group">

      <form (submit)="ingresoData">
        <mat-form-field appearance="outline" class="profile-form-input">
          <mat-hint>
            Ingrese la fecha de ingreso
          </mat-hint>
          <input matInput matAutosizeMinRows=4 matInput required="FechaIngreso" name="FechaIngreso" type="date" [(ngModel)]="ingresoData.fechaIngreso" placeholder="FechaIngreso">
        </mat-form-field>
      </form>

      <form (submit)="ingresoData">
        <mat-form-field appearance="outline" class="profile-form-input">
          <mat-hint>
            Ingrese la condicion en que esta ingresando el paciente
          </mat-hint>
          <input matInput matAutosizeMinRows=4 matInput required="Condicion" name="Condicion" type="text" [(ngModel)]="ingresoData.condicion" placeholder="Condicion">
        </mat-form-field>
      </form>

      <form (submit)="ingresoData">
        <mat-form-field appearance="outline" class="profile-form-input">
          <mat-hint>
            Ingrese el numero de cama
          </mat-hint>
          <input matInput matAutosizeMinRows=4 matInput required="NumeroCama" name="NumeroCama" type="number"[(ngModel)]="ingresoData.numeroCama" placeholder="NumeroCama">
        </mat-form-field>
      </form>

      <form (submit)="ingresoData">
        <mat-form-field appearance="outline" class="profile-form-input">
          <mat-hint>
            Ingrese las observaciones
          </mat-hint>
          <input matInput matAutosizeMinRows=4 matInput required="observaciones" name="observaciones" type="text" [(ngModel)]="ingresoData.observaciones" placeholder="Observaciones">
        </mat-form-field>
      </form>

      <button class="btn-option"  mat-stroked-button color="primary" (click)="addIngresante()" [routerLink]="['/usuario',usuarioId]"> Ingresar Paciente </button>

    </div>

  </div>
</app-nav>
